{{>layouts/header}}
<form class = "container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#articles}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{contents}}</td>
        </tr>
    {{/articles}}
    </tbody>
</table>
</form>


<form class="container" form action="/articles/new" method="get">


    <br>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">게시글 작성</button>
    </div>
</form>

